// Placeholder to allow overriding predefined variables smoothly.

$header-margin-strength:    3 !default;

$mindslab-color-1:      #0B2E48 !default;
$mindslab-color-2:      #1175D0 !default;

$link-base-color:       $mindslab-color-2 !default;
$link-hover-color:      $mindslab-color-1 !default;