// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)


.avatar{
    border-radius: 50%;
    margin-right: 10px;
}

.post-description {
    padding-top: $spacing-unit * 0.5;
}