---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {% for post in posts %}
      {% assign github-id = post.github %}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <a class="github-link" href="https://github.com/{{ github-id | default: "mindslab-ai" }}">
          <img class="avatar avatar-small" src="https://avatars.githubusercontent.com/{{ github-id | default: "mindslab-ai" }}?s=40" alt={{ github-id | default: "mindslab-ai" }} srcset="https://avatars.githubusercontent.com/{{ github-id | default: "mindslab-ai" }}?s=40 1x, https://avatars.githubusercontent.com/{{ github-id | default: "mindslab-ai" }}?s=80 2x, https://avatars.githubusercontent.com/{{ github-id | default: "mindslab-ai" }}?s=120 3x, https://avatars.githubusercontent.com/{{ github-id | default: "mindslab-ai" }}?s=160 4x" width="32" height="32" />
        </a>
        <span class="post-meta">{{ post.author | escape }} | {{ post.date | date: date_format }}</span>
        <div class="post-description">
          <span>{{ post.description | escape }}</span>
        <div>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
